<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(\.env|artisan|composer\.(json|lock)|package(-lock)?\.json|phpunit\.xml|vite\.config\.js|tailwind\.config\.js|postcss\.config\.js|\.npmrc)$ - [F,L]
    RewriteRule ^(app|bootstrap|config|database|resources|routes|storage|tests)(/|$) - [F,L]
    RewriteRule ^vendor/(autoload\.php|bin|composer|brick|carbonphp|dflydev|doctrine|dragonmantank|egulias|fruitcake|graham-campbell|guzzlehttp|laravel|league|livewire|monolog|nesbot|nette|nikic|nunomaduro|phpoption|psr|psy|ralouphie|ramsey|symfony|tijsverkoyen|vlucas|voku)(/|$) - [F,L]

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
